body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#task-section .fas {
  color: #008ed6;
  padding: 5px;
  border-radius: 5px;
}

#submit-section .fas,
#more-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
