body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: rgba(171, 203, 119, 0.5); }

.calendar {
  width: 1200px;
  height: auto;
  box-sizing: border-box;
  border-style: double; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px; }

#leftArrow {
  height: 100px;
  transform: rotate(180deg);
  border: 0; }

#rightArrow {
  height: 100px; }

.date {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px repeat(7, 120px);
  grid-gap: 10px;
  box-sizing: border-box; }

.day {
  font-weight: 700;
  font-size: 20px; }

.day#weekly {
  font-size: 30px; }

.number {
  font-size: 100px;
  font-weight: 700;
  color: rgba(70, 66, 66, 0.6);
  background-size: 120px 115px; }

.otherMonth {
  color: rgba(70, 66, 66, 0.3); }

.number:hover {
  color: #464242; }

.weeklyTopic {
  font-weight: 700;
  font-size: 30px;
  padding: 30px 0; }

.twoLines {
  font-weight: 700;
  font-size: 30px;
  padding: 20px 0; }

a {
  color: inherit;
  text-decoration: inherit; }


#v0701 {
  background-image: url(../img/0701.png); }

#v0702 {
  background-image: url(../img/0702.png); }

#v0703 {
  background-image: url(../img/0703.png); }

#v0704 {
  background-image: url(../img/0704.png); }

#v0705 {
  background-image: url(../img/0705.png); }

#v0708 {
  background-image: url(../img/0708.png); }

#v0709 {
  background-image: url(../img/0709.png); }

#v0710 {
  background-image: url(../img/0710.png); }

#v0711 {
  background-image: url(../img/0711.png); }

#v0712 {
  background-image: url(../img/0712.png); }

#v0715 {
  background-image: url(../img/0715.png); }

#v0716 {
  background-image: url(../img/0716.png); }

#v0717 {
  background-image: url(../img/0717.png); }

#v0718 {
  background-image: url(../img/0718.png); }

#v0719 {
  background-image: url(../img/0719.png); }

#v0722 {
  background-image: url(../img/0722.png); }

#v0723 {
  background-image: url(../img/0723.png); }

#v0724 {
  background-image: url(../img/0724.png); }

#v0725 {
  background-image: url(../img/0725.png); }

#v0726 {
  background-image: url(../img/0726.png); }

#v0729 {
  background-image: url(../img/0729.png); }

#v0730 {
  background-image: url(../img/0730.png); }

#v0731 {
  background-image: url(../img/0731.png); }

#v0801 {
  background-image: url(../img/0801.png); }

#v0802 {
  background-image: url(../img/0802.png); }
