body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: rgba(171, 203, 119, 0.5); }

.calendar {
  width: 1200px;
  height: auto;
  box-sizing: border-box;
  border-style: double; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px; }

#leftArrow {
  height: 100px;
  transform: rotate(180deg);
  border: 0; }

#rightArrow {
  height: 100px; }

.date {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px repeat(7, 120px);
  grid-gap: 10px;
  box-sizing: border-box; }

.day {
  font-weight: 700;
  font-size: 20px; }

.day#weekly {
  font-size: 30px; }

.number {
  font-size: 100px;
  font-weight: 700;
  color: rgba(70, 66, 66, 0.6);
  background-size: 120px 115px; }

.otherMonth {
  color: rgba(70, 66, 66, 0.3); }

.number:hover {
  color: #464242; }

.weeklyTopic {
  font-weight: 700;
  font-size: 30px;
  padding: 30px 0; }

a {
  color: inherit;
  text-decoration: inherit; }

#v1231 {
  background-image: url(../img/1231.png); }

#v0101 {
  background-image: url(../img/0101.png); }

#v0102 {
  background-image: url(../img/0102.png); }

#v0103 {
  background-image: url(../img/0103.png); }

#v0104 {
  background-image: url(../img/0104.png); }

#v0107 {
  background-image: url(../img/0107.png); }

#v0108 {
  background-image: url(../img/0108.png); }

#v0109 {
  background-image: url(../img/0109.png); }

#v0110 {
  background-image: url(../img/0110.png); }

#v0111 {
  background-image: url(../img/0111.png); }

#v0114 {
  background-image: url(../img/0114.png); }

#v0115 {
  background-image: url(../img/0115.png); }

#v0116 {
  background-image: url(../img/0116.png); }

#v0117 {
  background-image: url(../img/0117.png); }

#v0118 {
  background-image: url(../img/0118.png); }

#v0121 {
  background-image: url(../img/0121.png); }

#v0122 {
  background-image: url(../img/0122.png); }

#v0123 {
  background-image: url(../img/0123.png); }

#v0124 {
  background-image: url(../img/0124.png); }

#v0125 {
  background-image: url(../img/0125.png); }

#v0128 {
  background-image: url(../img/0128.png); }

#v0129 {
  background-image: url(../img/0129.png); }

#v0130 {
  background-image: url(../img/0130.png); }

#v0131 {
  background-image: url(../img/0131.png); }

#v0201 {
  background-image: url(../img/0201.png); }
